<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>KBKIRO</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" />

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top" style="background-color:black;">
        <div class="container mb-1">
            <a href="/"><img th:src="@{/images/KIRO-ci.png}" style="width:200px;height:40px;" /></a>
            <a class="navbar-brand" style="color:black;font-weight:bold;padding-top: 11px;padding-left: 7px" href="/">경북분원</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            경북분원 소개
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/abt/greet">인사말</a>
                            <a class="dropdown-item" href="/abt/org">조직도 및 업무별 담당자</a>
                            <a class="dropdown-item" href="/abt/map">찾아오시는길</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            연구분야
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="/dev/res-field">연구분야</a>
                            <a class="dropdown-item" href="/dev/res-result">연구성과</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            알림마당
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="/alert/notice">공지사항</a>
                            <a class="dropdown-item" href="/alert/business">사업공고</a>
                            <a class="dropdown-item" href="/alert/qna">Q&A</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/signup">회원가입</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h2 class="mt-4 mb-3 icon_head">찾아오시는길

    </h2>

    <!-- Content Row -->
    <div class="row">
      <!-- Content Column -->
      <div class="col-lg-12 mb-4">
        <div id="map" style="width:100%;height:400px;"></div><br/>
		    <h2 class="icon_sub">경북분원(안동)</h2>	
			<ul>
				<li>주소 : 36728 경상북도 안동시 경동로 1486-18 리서치동 101호 </li>
				<li>전화번호 : T. 054-821-5411  /  F. 054-823-5411 </li>
			</ul>
		</div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

   <!-- Footer -->
  <hr/>
  <footer class="py-2 bg-white">
    <div class="container">
	    <div class="row">
	    	<div class="col-lg-3 mb-1">
	    		<img th:src="@{/images/KIRO-ci.png}" style="width:230px;height:50px;" />
	    	</div>
	    	<div class="col-lg-9 mb-1" style="font-size: 13px">
		      36728 경상북도 안동시 경동로 1486-18 리서치동 101호 (한국로봇융합연구원 경북분원)<br/>
		          대표전화 : 054-821-5411 FAX : 054-823-5411<br/>
		      COPYRIGHT 2011 KOREA INSTITUTE OF ROBOT CONVERGENCE. ALL RIGHT RESERVED.
	    	</div>
	    	
      	</div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f5afeb5b463cedc165d87f8a69b1915d"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f5afeb5b463cedc165d87f8a69b1915d&libraries=services,clusterer,drawing"></script>  
  <script>
		var container = document.getElementById('map');
		var options = {
			center: new daum.maps.LatLng(36.5377766, 128.80812830000002),
			level: 3
		};

		var map = new daum.maps.Map(container, options);
		
		// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
		var mapTypeControl = new daum.maps.MapTypeControl();

		// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
		// daum.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
		map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);

		// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
		var zoomControl = new daum.maps.ZoomControl();
		map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
		
		// 마커가 표시될 위치입니다 
		var markerPosition  = new daum.maps.LatLng(36.5377766, 128.80812830000002); 

		// 마커를 생성합니다
		var marker = new daum.maps.Marker({
		    position: markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);
		
		var iwContent = '<div style="width:230px;padding:5px;">한국로봇융합연구원 경북분원</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
	    iwPosition = new daum.maps.LatLng(36.5377766, 128.80812830000002); //인포윈도우 표시 위치입니다

		// 인포윈도우를 생성합니다
		var infowindow = new daum.maps.InfoWindow({
		    position : iwPosition, 
		    content : iwContent 
		});
		  
		// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
		infowindow.open(map, marker); 
  </script>
  

</body>

</html>
