<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>KBKIRO</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet" />

</head>

<body>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top" style="background-color:black;">
        <div class="container mb-1">
            <a href="/"><img th:src="@{/images/KIRO-ci.png}" style="width:200px;height:40px;" /></a>
            <a class="navbar-brand" style="color:black;font-weight:bold;padding-top: 11px;padding-left: 7px" href="/">경북분원</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            경북분원 소개
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/abt/greet">인사말</a>
                            <a class="dropdown-item" href="/abt/org">조직도 및 업무별 담당자</a>
                            <a class="dropdown-item" href="/abt/map">찾아오시는길</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            연구분야
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="/dev/res-field">연구분야</a>
                            <a class="dropdown-item" href="/dev/res-result">연구성과</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            알림마당
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="/alert/notice">공지사항</a>
                            <a class="dropdown-item" href="/alert/business">사업공고</a>
                            <a class="dropdown-item" href="/alert/qna">Q&A</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/signup">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">사업공고

        </h1>
        <form role="form" method="get">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${list}">
                        <td th:text="${list.id}"></td>
                        <td><a th:href="@{/alert/business/read(id=${list.id})}" th:text="${list.subject}"></a></td>
                        <td th:text="${list.login_id}"></td>
                        <td th:text="${#dates.format(list.created_on, 'yyyy-MM-dd HH:mm')}"></td>
	             <td th:text="${list.contents}"></td>
	         </tr>
		    </tbody>
	  </table>
      <hr/>
      	<ul class="justify-content-center pagination">
		    <li class="page-item"><a class="page-link" href="#">이전</a></li>
		    <li class="page-item active"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item"><a class="page-link" href="#">4</a></li>
		    <li class="page-item"><a class="page-link" href="#">5</a></li>
		    <li class="page-item"><a class="page-link" href="#">다음</a></li>
	  	</ul>
  	<div class="float-sm-right"><button type="button" class="justify-content-end btn btn-primary">등록</button></div><br/><br/>
	</form>
  </div>
  <!-- /.container -->

    <!-- Footer -->
  <hr/>
  <footer class="py-2 bg-white">
    <div class="container">
	    <div class="row">
	    	<div class="col-lg-3 mb-1">
	    		<img th:src="@{/images/KIRO-ci.png}" style="width:230px;height:50px;" />
	    	</div>
	    	<div class="col-lg-9 mb-1" style="font-size: 13px">
		      36728 경상북도 안동시 경동로 1486-18 리서치동 101호 (한국로봇융합연구원 경북분원)<br/>
		          대표전화 : 054-821-5411 FAX : 054-823-5411<br/>
		      COPYRIGHT 2011 KOREA INSTITUTE OF ROBOT CONVERGENCE. ALL RIGHT RESERVED.
	    	</div>
	    	
      	</div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript">
	  $(function () {
	
			var formObj = $("form[role='form']");
			console.log(formObj);
			
			$(".btn-primary").on("click", function(){
				formObj.attr("action", "/alert/business/regist");
				formObj.attr("method", "get");
				formObj.submit();
			});
			
		  });
   </script>

</body>

</html>