<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>KBKIRO</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet" />

</head>

<body>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top" style="background-color:black;">
        <div class="container mb-1">
            <a href="/"><img th:src="@{/images/KIRO-ci.png}" style="width:200px;height:40px;" /></a>
            <a class="navbar-brand" style="color:black;font-weight:bold;padding-top: 11px;padding-left: 7px" href="/">경북분원</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            경북분원 소개
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/abt/greet">인사말</a>
                            <a class="dropdown-item" href="/abt/org">조직도 및 업무별 담당자</a>
                            <a class="dropdown-item" href="/abt/map">찾아오시는길</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            연구분야
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="/dev/res-field">연구분야</a>
                            <a class="dropdown-item" href="/dev/res-result">연구성과</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            알림마당
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="/alert/notice">공지사항</a>
                            <a class="dropdown-item" href="/alert/business">사업공고</a>
                            <a class="dropdown-item" href="/alert/qna">Q&A</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/signup">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h2 class="mt-4 mb-3">사업공고
            <!-- <small>글쓰기</small> -->
        </h2>
        <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-12 mb-4">
                <form role="form" method="post">
                    <div class="control-group form-group" th:object="${content}">
                        <input th:field="*{id}" type="hidden">
                        <div class="controls">
                            <label for="businessUserName">작성자</label>
                            <input th:field="*{user_name}" type="text" class="form-control col-lg-2" id="businessUserName" />
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>작성일</label><br />
                            <input th:value="*{created_on}" type="text" class="form-control col-lg-2" id="businessDate" />
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="businessSubject">제목</label>
                            <input th:field="*{subject}" type="text" class="form-control" id="businessSubject">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>내용</label>
                            <textarea th:field="*{contents}" class="form-control" rows="10" cols="100"></textarea>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>자료첨부</label>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-warning">수정</button>
                    <button type="submit" class="btn btn-danger">취소</button>
                </form>
            </div>
            <!-- <div class="col-lg-1"></div> -->
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <hr />
    <footer class="py-2 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-1">
                    <img th:src="@{/images/KIRO-ci.png}" style="width:230px;height:50px;" />
                </div>
                <div class="col-lg-9 mb-1" style="font-size: 13px">
                    36728 경상북도 안동시 경동로 1486-18 리서치동 101호 (한국로봇융합연구원 경북분원)<br />
                    대표전화 : 054-821-5411 FAX : 054-823-5411<br />
                    COPYRIGHT 2011 KOREA INSTITUTE OF ROBOT CONVERGENCE. ALL RIGHT RESERVED.
                </div>

            </div>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript">
        $(function() {

            var formObj = $("form[role='form']");
            console.log(formObj);

            $(".btn-warning").on("click", function() {
                formObj.attr("action", "/alert/business/modify");
                formObj.attr("method", "post");
                formObj.submit();
            });

            $(".btn-danger").on("click", function() {
                formObj.attr("action", "/alert/business");
                formObj.attr("method", "get");
                formObj.submit();
            });

        });
    </script>

</body>

</html>