<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Kiro Kyungbuk</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/login.css"/>
  <link rel="stylesheet" href="../css/modern-business.css"/>

</head>

<body>
login
</body>

</html>
